<div id="container">

  <div id="background"></div>

  <div id="content">

    <div id="content-wrapper">

      <form>
        <img src="./assets/logo.png" alt="Navigatron Logistica Portuária" />

        <h1>Faça seu cadastro</h1>

        <div id="input-group">
          <i-feather name="user"></i-feather>
          <input type="text" placeholder="Nome">
        </div>

        <div id="input-group">
          <i-feather name="mail"></i-feather>
          <input type="email" placeholder="E-mail">
        </div>

        <div id="input-group">
          <i-feather name="lock"></i-feather>
          <input type="password" placeholder="Senha">
        </div>

        <div id="input-group">
          <i-feather name="lock"></i-feather>
          <input type="password" placeholder="Confirmar senha">
        </div>

        <button type="submit">
          <i-feather name="check"></i-feather>
          Cadastrar
        </button>
      </form>

      <a routerLink="/login">
        <i-feather name="arrow-left"></i-feather>
        Voltar para login
      </a>

    </div>
  </div>

</div>
